.cat-list {
    position: relative;
    padding: 48px 62px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 48px;
}

.loading {
    width: 100%;
    text-align: center;
}